button {
  display: none;
  font-style: bold;
  border-style: bold;
  height: 40px;
  width: 100px;
}
.add-to-deck {
  background-color: green;
}
.delete-card {
  background-color: firebrick;
}

background {
  background-color: blue;
}

.back-of-card {
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 250px;
  height: 345px;
}

/* .deck-container {
 
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
} */

.one-card:hover .add-to-deck {
  display: inline-block;
  position: relative;
  bottom: 200px;
  right: -28px;
}

.one-card:hover .delete-card {
  display: inline-block;
  position: relative;
  bottom: 100px;
  right: 70px;
}

.one-card {
  padding: 20px;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding: 0;
  font-family: "MedievalSharp", cursive;
  text-align: center;
  font-size: 85px;
  opacity: 99%;
  color: rgb(226, 216, 216);
  position: relative;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2805716.png");
}

.zoom {
  grid-area: innder-divs;
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}
