button {
  background-color: lightblue;
  size: 12px;
}

background {
  background-color: blue;
}

.back-of-card {
  padding-left: 20px;
  padding-bottom: 10px;
  width: 225px;
  height: 300px;
}

.one-card {
  padding: 20px;
}
.all-cards {
  display: flex;
  flex-wrap: wrap;
}

.deck-container {
  display: block;
  position: relative;
  bottom: 0;
}

h1 {
  padding: 0;
  font-family: "MedievalSharp", cursive;
  text-align: center;
  font-size: 85px;
  opacity: 99%;
  color: rgb(226, 216, 216);
  position: relative;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2805716.png");
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}
